{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}

  <script type="module">
    import {
        get,
        parseRequestOptionsFromJSON,
    } from '/webauthn-json.browser-ponyfill.js';

    async function start() {
      let request = await fetch('/api/authenticate/begin', {
        method: 'POST',
      });
      if(!request.ok) {
        throw new Error('No credential available to authenticate!');
      }
      let json = await request.json();
      let options = parseRequestOptionsFromJSON(json);

      let response = await get(options);
      let result = await fetch('/api/authenticate/complete', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
	body: JSON.stringify(response),
      });

      let stat = result.ok ? 'successful' : 'unsuccessful';
      if(result.ok)
      {
        window.location='/market';
      }
      
    }

    window.start = start;
    start();
  </script>

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>

</body>
{% endblock %}